SasolWax/source Code 20120220/SasolWax/SasolWax/Web References/OneMobileWS_Wax/OneMobileWS_Wax.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.onemobilews.com/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.onemobilews.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.onemobilews.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWordl">
        <s:complexType />
      </s:element>
      <s:element name="HelloWordlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWordlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfUsers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Users">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ipk" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sPass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sSurname" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetArea">
        <s:complexType />
      </s:element>
      <s:element name="GetAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAreaResult" type="tns:ArrayOfAreas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAreas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Areas" nillable="true" type="tns:Areas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Areas">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ipk" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sArea" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetWarehouse">
        <s:complexType />
      </s:element>
      <s:element name="GetWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWarehouseResult" type="tns:ArrayOfWarehouses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWarehouses">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Warehouses" nillable="true" type="tns:Warehouses" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Warehouses">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ipk" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sArea" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sWarehouseCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStockMasterData">
        <s:complexType />
      </s:element>
      <s:element name="GetStockMasterDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockMasterDataResult" type="tns:ArrayOfStockMasterData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStockMasterData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StockMasterData" nillable="true" type="tns:StockMasterData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StockMasterData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ipk" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sStockCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sArea" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sWareHouse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sSerial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iBagStation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sBatchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sBatchCodeSerial" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="tns:ArrayOfVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVersion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Version" nillable="true" type="tns:Version" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Version">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ipk" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateInventoryCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inventoryCountList" type="tns:ArrayOfInventoryCount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInventoryCount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventoryCount" nillable="true" type="tns:InventoryCount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventoryCount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ipk" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dtCount" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ifkUser" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sStockCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sWarehouse" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="iCountQuantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sSerial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sBatchCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dBagWeight" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="iBagStation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ifkVersion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="gUID" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateInventoryCountResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWordlSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWordl" />
  </wsdl:message>
  <wsdl:message name="HelloWordlSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWordlResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAreaSoapIn">
    <wsdl:part name="parameters" element="tns:GetArea" />
  </wsdl:message>
  <wsdl:message name="GetAreaSoapOut">
    <wsdl:part name="parameters" element="tns:GetAreaResponse" />
  </wsdl:message>
  <wsdl:message name="GetWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:GetWarehouse" />
  </wsdl:message>
  <wsdl:message name="GetWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:GetWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockMasterDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockMasterData" />
  </wsdl:message>
  <wsdl:message name="GetStockMasterDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockMasterDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateInventoryCountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateInventoryCount" />
  </wsdl:message>
  <wsdl:message name="UpdateInventoryCountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateInventoryCountResponse" />
  </wsdl:message>
  <wsdl:portType name="OneMobile_x0020_WebServiceSoap">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWordl">
      <wsdl:input message="tns:HelloWordlSoapIn" />
      <wsdl:output message="tns:HelloWordlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetArea">
      <wsdl:input message="tns:GetAreaSoapIn" />
      <wsdl:output message="tns:GetAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouse">
      <wsdl:input message="tns:GetWarehouseSoapIn" />
      <wsdl:output message="tns:GetWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockMasterData">
      <wsdl:input message="tns:GetStockMasterDataSoapIn" />
      <wsdl:output message="tns:GetStockMasterDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInventoryCount">
      <wsdl:input message="tns:UpdateInventoryCountSoapIn" />
      <wsdl:output message="tns:UpdateInventoryCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OneMobile_x0020_WebServiceSoap" type="tns:OneMobile_x0020_WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://www.onemobilews.com/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWordl">
      <soap:operation soapAction="http://www.onemobilews.com/HelloWordl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://www.onemobilews.com/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArea">
      <soap:operation soapAction="http://www.onemobilews.com/GetArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouse">
      <soap:operation soapAction="http://www.onemobilews.com/GetWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockMasterData">
      <soap:operation soapAction="http://www.onemobilews.com/GetStockMasterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://www.onemobilews.com/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInventoryCount">
      <soap:operation soapAction="http://www.onemobilews.com/UpdateInventoryCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OneMobile_x0020_WebServiceSoap12" type="tns:OneMobile_x0020_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://www.onemobilews.com/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWordl">
      <soap12:operation soapAction="http://www.onemobilews.com/HelloWordl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://www.onemobilews.com/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArea">
      <soap12:operation soapAction="http://www.onemobilews.com/GetArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouse">
      <soap12:operation soapAction="http://www.onemobilews.com/GetWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockMasterData">
      <soap12:operation soapAction="http://www.onemobilews.com/GetStockMasterData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://www.onemobilews.com/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInventoryCount">
      <soap12:operation soapAction="http://www.onemobilews.com/UpdateInventoryCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OneMobile_x0020_WebService">
    <wsdl:port name="OneMobile_x0020_WebServiceSoap" binding="tns:OneMobile_x0020_WebServiceSoap">
      <soap:address location="http://localhost/OneMobileWS_Wax/OneMobileWS_Wax.asmx" />
    </wsdl:port>
    <wsdl:port name="OneMobile_x0020_WebServiceSoap12" binding="tns:OneMobile_x0020_WebServiceSoap12">
      <soap12:address location="http://localhost/OneMobileWS_Wax/OneMobileWS_Wax.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>